body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(files/background1.png);
    background-color: rgb(251, 241, 226);
}

h1 {
    text-align: center;
}

span {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.intro {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.flip-card {
    width: 300px;
    border: 0px transparent;
    perspective: 1000px;
    margin: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    min-height: 300px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    display: block;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    position: relative;
}

.flip-card-front {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(files/holograpic_background1.png);
    color: black;
    z-index: 2;
    padding-top: 5px;
}

.flip-card-front img {
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}

.linaria-blanca {
    width: 100px;
}

.flip-card-back {
    background-image: url(files/holograpic_background2.png);
    color: black;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    height: 100%;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

footer {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}